<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
            <tr>
                <th>Food id</th> 
                <th>Item</th>
                <th>Cost</th>
            </tr>
            <tr>
                <input type="text">
                <input type="text">
                <input type="text">
                <button>Add</button>
            </tr>
            <tr>
                <% for(var i =0 ; i< data.length; i++){ %>
                    <tr>
                        <td><%= data[i].food_id %></td>
                        <td><%= data[i].name %></td>
                        <td><%= data[i].cost %></td>
                        <td><button>Delete</button></td>
                    </tr>
                <% } %>
            </tr>
        </table>
</body>
</html>