<%- include partials/studenthead.ejs %>
<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-7 bg-color2">
                <!-- <div class="h-100"> -->
                    <div class="mg-top">
                        <h2 class="text">Welcome to your new mess</h2>
                        <p class="text-2">Set your login password here</p>
                    </div>
                <!-- </div> -->
            </div>
            <div class="col-md-4 mt-auto mb-auto ml-auto mr-auto form-padding">
            <form method="POST">
                    <center><h2 class="text-3">Set Password</h2></center>
                    <center><div class="mt-3"><input type="password" placeholder="Password" name="password"></div></center>
                    <center><div class="mt-3"><input type="password" placeholder="Re-enter Password" name="re-password"></div></center>
                    <center><div class="mt-3 setpsw-button"><button class="btn form-control">Set</button></div></center>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
