body{
    font-family: 'Roboto', sans-serif;
    background-color: #343a40;
    overflow: hidden;
}

body::-webkit-scrollbar {
    width: 0.1em;
}

.header { 
    height: 10rem;
    background-color: aqua;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

table td {
    text-align: center;
}

table th {
    text-align: center;
}

.page-content {
    height: 500px;
    overflow-y: scroll;
}

.text {
    text-align: center;
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

.text-2 {
    text-align: center;
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.card {
    background-color: black;
    color: white;
}

.card-title {
    color: white
}

.card-text {
    color: whitesmoke;
}