html, body{
    margin: 0;

    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
}
body{
    font-family: "gilroy-bold", sans-serif;
    background-color: whitesmoke;
    overflow: hidden;
}

.container-fluid {
    overflow-y: auto;
}

.meal-time {
    color: red;
    text-decoration: underline;
}

.text {
    font-weight: bold;
    font-size: 10vh;
    color: white;
    line-height: 0.8em;
}

.text-2 {  
    color: white;
    font-size: 3.5vh;
}

.text-3 {
    font-size: 3rem;
    font-weight: bold;
}

.nav-link, .navbar-brand {
    font-size: 14px;
    text-transform: uppercase;
}

.nav-item {
    margin-left: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.user-img {
    width: 30px;
    height: 30px;
    margin-right: 0.5vh;
}

.home-text {
    padding-top: 20vh;
    padding-left: 5vh;
    font-weight: normal;
    color: black;
    font-size: 100px;
}

.bg-color {
    background-color: #feb618
}

.order-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    height: 3rem;
}

.mg-top {
    margin-top: 35vh;
}

.login-button, .order-button {
    width: 10vh;
    background-color: white;
    color: green;
    border-style: none;
    box-shadow: 1px black;
}

.order-button {
    width: 50%;
}

.login-button:hover {
    background-color: whitesmoke;
}

input {
    width: 50vh;
    border-radius: 100px;
    padding-left: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-style: solid;
    border-color: white;
}

input:focus {
    outline: none;
    border-style: solid;
    border-color: orange;
}

body::-webkit-scrollbar {
    width: 0.1em;
}

.header { 
    height: 10rem;
    background-color: aqua;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

table td {
    text-align: center;
}

table th {
    text-align: center;
}

.page-content {
    height: 500px;
    background-color: #fdd24b;
    overflow-y: auto;
    padding-bottom: 5rem;
}